<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" th:action="@{/login}" action="/login">
    <input name="username" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

  <div th:if="${param.error}">
    Login failed
  </div>

  <div th:if="${param.logout}">
    Logged out
  </div>
</body>
</html>